# Files
import %workspace%/tools/bazel/deleted.bazelrc

# Cache
build --disk_cache ~/.cache/bazel-disk
clean --disk_cache ~/.cache/bazel-disk
fetch --disk_cache ~/.cache/bazel-disk
info --disk_cache ~/.cache/bazel-disk
query --disk_cache ~/.cache/bazel-disk
sync --disk_cache ~/.cache/bazel-disk

# Build
build -k

# Run
build --run_in_cwd

# Workspace
common --enable_workspace
common --noenable_bzlmod

# Python
build --noexperimental_python_import_all_repositories
build --incompatible_default_to_explicit_init_py

# User settings
try-import %workspace%/user.bazelrc
